<%= image_tag @recipe.featured_image if @recipe.featured_image.attached? %>

<% cache @recipe do %>
    <h1><%= @recipe.name %></h1>
    <%= @recipe.description %>
<% end %>

<%= link_to "Back", recipes_path %>
<%= link_to "Edit", edit_recipe_path(@recipe) %>
<%= button_to "Delete", @recipe, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
